<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Cabinlove</title>
</head>

<body>

    <header>
        <!--navbar-->
        <nav class="brown darken-4">
            <div class="nav-wrapper">
                <a href="{{ url_for('home') }}" class="brand-logo">Cabinlove</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('locations') }}">Locations</a></li>
                    {% if session.user %}
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li><a href="{{ url_for('add_cabin') }}">New Cabin</a></li>
                    {% if session.user|lower == "admin"|lower %}
                    <li><a href="{{ url_for('add_location') }}">New Location</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- mobile sidenav -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('locations') }}">Locations</a></li>
            {% if session.user %}
            <li><a href="{{ url_for('add_cabin') }}">New Cabin</a></li>
            <li><a href="{{ url_for('add_location') }}">New Location</a></li>
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="">Contact</a></li>
            {% endif %}
        </ul>
    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="light-red lighten-4 center-align">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <!-- Page specific content -->
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="page-footer brown darken-4">
        <div class="container footer-box">
            <ul id="social-media-links">
                <li>
                    <a class="grey-text text-lighten-3" href="https://www.facebook.com/" aria-label="Go to Facebook"
                        target="_blank"><i class="fab fa-facebook-square"></i></a>
                </li>
                <li>
                    <a class="grey-text text-lighten-3" href="https://www.instagram.com/" aria-label="Go to Instagram"
                        target="_blank"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a class="grey-text text-lighten-3" href="https://twitter.com/" aria-label="Go to Twitter"
                        target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a class="grey-text text-lighten-3" href="https://www.tiktok.com/en/" aria-label="Go to TikTok"
                        target="_blank"><i class="fab fa-tiktok"></i></a>
                </li>
            </ul>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <a class="white-text" href="https://github.com/berill98" aria-label="Go to GitHub"
                        target="_blank">© 2022 Berill H.</a>
            </div>
        </div>
    </footer>

    <!-- Script tags -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>