{% extends "base.html" %}
{% block content %}

{% if session.user %}
<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_cabin') }}" class="btn-large light-green darken-2">
            Add Cabin <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>
{% else %}
<div class="row">
    <h3 id="welcome">Hi, welcome to Cabinlove!</h3>
    <p>
        These cabins are like no other. Relax and reconnect with nature in your very own cabin. Whether you
        are looking for a wild family adventure with your dog in the great outdoors, an unforgettable group getaway, or a
        romantic retreat for two - we have a perfect cabin for you!<br>
        In order to list your cabin as a host on Cabinlove, you need to sign in. If you already have an account, you can
        use it to sign in.
        If you do not already have a Cabinlove account, you can create one free of charge by registering with your
        email address. It only takes a few moments.
    </p>
</div>
<div class="row buttons">
    <div class="col s6 center-align">
        <a href="{{ url_for('register') }}" class="btn-large green darken-4">
            Register <i class="fa-solid fa-user-astronaut"></i>
        </a>
    </div>
    <div class="col s6 center-align">
        <a href="{{ url_for('login') }}" class="btn-large green darken-4">
            Login <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </a>
    </div>
</div>
{% endif %}

<div class="row">
    {% for cabin in cabins %}
    <div class="col s12 m6 l3">
        <div class="card  brown darken-2 center-align">
            <div class="card-content white-text">
                <span class="card-title">Cabin ID: {{ cabin.cabin_id }}</span>
                <span class="card-title">Cabin Name: {{ cabin.cabin_name }}</span>
                <span class="card-title">Owner: {{ cabin.owner }}</span>
                <span class="card-title">Location: {{ cabin.location }}</span>
                <span class="card-title">Photo: </span>
                <img src="{{ cabin.photo }}" alt="{{ cabin.cabin_name }}" class="responsive-img"
                    onError="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Image_not_available.png/640px-Image_not_available.png';">
                <span class="card-title">Description: {{ cabin.cabin_description }}</span>
                <span class="card-title">Pet Friendly: {{ cabin.pet_friendly }}</span>
                <span class="card-title">Wifi Included: {{ cabin.wifi_included }}</span>
                <span class="card-title">Kids Allowed: {{ cabin.kids_allowed }}</span>
                <span class="card-title">Max Adults: {{ cabin.max_adults }}</span>
                <span class="card-title">Price Per Night: {{ cabin.price_per_night }}</span>
            </div>
            {% if session.user|lower == cabin.owner|lower %}
            <div class="card-action">
                <a href="{{ url_for('edit_cabin', cabin_id=cabin.id) }}" class="btn green accent-4">Edit</a>
            </div>
            <div class="card-action">
                <a href="#modal-{{ cabin.cabin_id }}" class="btn green accent-4 modal-trigger">Delete</a>
                <!-- delete modal confirmation -->
                <div id="modal-{{ cabin.cabin_id }}" class="modal">
                    <div class="modal-content">
                        <h4>Delete Cabin</h4>
                        <p>Are you sure you want to delete {{ cabin.cabin_name }}?</p>
                        <small>Please note, this action cannot be reversed!</small>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
                        <a href="{{ url_for('delete_cabin', cabin_id=cabin.id) }}"
                            class="modal-close waves-effect waves-red btn-flat">Delete</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}