{% extends "base.html" %}
{% block content %}

<div class="row">
    {% for cabin in cabins %}
    <div class="col s12 m6 l3">
        <div class="card brown darken-2 center-align">
            <div class="card-content white-text">
                <span class="card-title">Cabin ID: {{ cabin.cabin_id }}</span>
                <span class="card-title">Cabin Name: {{ cabin.cabin_name }}</span>
                <span class="card-title">Owner: {{ cabin.owner }}</span>
                <span class="card-title">Location: {{ cabin.location }}</span>
                <span class="card-title">Photo: </span>
                <img src="{{ cabin.photo }}" alt="{{ cabin.cabin_name }}" class="responsive-img"
                    onError="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Image_not_available.png/640px-Image_not_available.png';">
                <span class="card-title">Description: {{ cabin.cabin_description }}</span>
                <span class="card-title">Pet Friendly: {{ cabin.pet_friendly }}</span>
                <span class="card-title">Wifi Included: {{ cabin.wifi_included }}</span>
                <span class="card-title">Kids Allowed: {{ cabin.kids_allowed }}</span>
                <span class="card-title">Max Adults: {{ cabin.max_adults }}</span>
                <span class="card-title">Price Per Night: {{ cabin.price_per_night }}</span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}