@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.brand-logo {
    font-family: "Lobster";
    margin-left: 20px;
}

body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* footer */
.footer-box {
    text-align: center;
}

.footer-copyright {
    text-align: center;
}

.footer-heading {
    text-transform: uppercase;
}

#social-media-links {
    display: inline-flex;
    text-align: center;
}

#social-media-links i {
    font-size: 150%;
    margin: 0 20px 0 0;
    color: #fff;
}

#social-media-links i:hover {
    color: #316231;
}

.main-text {
    font-family: Lobster;
}

p {
    text-align: justify;
}

.buttons {
    margin-bottom: 30px;
}

.btn-large {
    font-size: 120%;
    border-radius: 10px;
}

.btn {
    border-radius: 10px;
}

.card {
    border-radius: 10px;  
}

